<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_LOCATION" value="/logs/"/>
    <property name="MAIN_LOGGER_NAME" value="currencyfair"/>

    <appender name="MAIN_LOGGER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_LOCATION}/${MAIN_LOGGER_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} user=%X{user} - %msg%n
            </Pattern>
        </encoder>

        <!-- Lets clean the old files up on a daily basis -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_LOCATION}/archived/${MAIN_LOGGER_NAME}.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} user=%X{user}- %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="ASYNC_MAIN_LOGGER" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="MAIN_LOGGER" />
    </appender>

    <logger name="com.currencyfair.trading" level="INFO" additivity="false">
        <appender-ref ref="ASYNC_MAIN_LOGGER" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
